.global-properties {
    font-size: 30px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    position: absolute;
        top: 1%;
        bottom: 0;
        left: 25%;
        right: 25%;
    
        margin: auto;
}

body {
    background-color: rgb(43, 43, 43);
}

/*No hyperlink highlighting*/
a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

/*
    Card Styles
*/
.card {
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);*/
    transition: 0.3s;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}

.card .card-title {
    font-style: normal;
    text-align: center;
    font-size: 60%;
    font-weight: bold;
}

.card .card-body {
    font-size: 50%;
}

.main-card {
    background-color: rgba(255, 255, 255, 0.1);
    /*margin: 5px 25% 0px 25%;*/
}



.image-card-1 {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0% 0% 1.5% 0%;
}

.image-card-1-image {
    size: 50px 50px 50px 50px;
    width: 10%;
}

.image-card-1-body {
    display: flex;
    flex-direction: column;
}

.image-card-1-body-title {
    margin: 0px 0px 0px 20px;
    font-size: 115%;
    opacity: 0.5;
}

.image-card-1-body-hr {
    width: 100%;
}

.image-card-1-body-subtext {
    margin: 0px 0px 0px 20px;
    font-size: 100%;
}


/*
  Nav Bar
*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(57, 48, 48);
    color: white;
}



/*
  Main title of the page
*/
.first-title {
    font-family:'Lucida Sans';
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

