.global-properties {
    font-size: 30px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 1000px;
    position: relative;
    margin: 0 auto;
}

body {
    background-color: rgb(43, 43, 43);
    /*background-image: url("/images/bg.jpg");*/
}

/*No hyperlink highlighting*/
a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}


/*
    Square Banner ---------------------------------------
*/

.square-banner {
    transition: 0.3s;
    padding: 15px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.06);
}

.square-banner .square-banner-title {
    font-style: bold;
    font-family: monospace;
    text-align: center;
    font-size: 70%;
}

/*
    Square Banner HW asserts ---------------------------------------
*/

.square-banner .square-banner-hw-assets {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;

}


.hw-asset-img-and-content {
    display: flex;
    flex-direction: column;
}

.hw-asset-img {
    height: 100px;
    margin: 15px;
    max-width: auto;
}

.hw-asset-text {
    text-align: center;
    font-size: 15px;
}


/*
    Card Styles ---------------------------------------
*/
.card {
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);*/
    transition: 0.3s;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
}

.card .card-title {
    font-style: bold;
    font-family: monospace;
    text-align: center;
    font-size: 60%;
}

.card-title:hover {
    text-shadow: 1px 1px 10px #fff;
    font-size: 70%;
    cursor: pointer;
}
.card .card-body {
    font-size: 50%;
}

.main-card {
    background-color: rgba(255, 255, 255, 0.1);
    /*margin: 5px 25% 0px 25%;*/
}



.image-card-1 {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0% 0% 1.5% 0%;
}

.image-card-1-image {
    size: 50px 50px 50px 50px;
    border-radius: 5px;
    width: 10%;
}

.image-card-1-body {
    display: flex;
    flex-direction: column;
}

.image-card-1-body-title {
    margin: 0px 0px 0px 20px;
	font-style: bold;
    text-decoration-line: underline;
    font-family:monospace;
    font-size: x-large;
    color: darkcyan;
    opacity: 1;
}

.image-card-1-body-title:hover {
    opacity: 1;
}

.image-card-1-body-hr {
    width: 50px;
    visibility: hidden;
}

.image-card-1-body-subtext {
    margin: 0px 0px 0px 20px;
    font-size: 100%;
    font-family: monospace;
}

.image-card-1-body-desctext {
    margin: 0px 0px 0px 20px;
	font-style: italic;
    font-family: monospace;
    font-size: 100%;
    color: rgb(171, 171, 171);
}


/*
  Nav Bar ---------------------------------------
*/

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: #484848;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    padding-right: 2%;
    font-size: 60%;
}

.topnav .logo-image {
    width: 4.5%;
    height: 4.5%;
    padding: 1% 1%;
}


/* Change the color of links on hover */
.topnav a:hover {
    text-shadow: 1px 1px 10px #fff;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 10px #fff;
    font-weight: bold;
}



/*
  Main title of the page
*/
.first-title {
    font-family:'Lucida Sans';
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

